@import '../variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@media screen and (min-width: $laptop){
    .copyright{
        position: absolute;
        bottom: 3%;
        // left: 50%;
        text-align: center;
        font-size: 0.9vw;
        width: 100%;
        height: auto;
        padding: 0%;
    }
    @media screen and (max-height: 600px){
        .footer{
            height: calc(100vh - 50px) !important;
        }
    
    }
    .footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        z-index: 1;
        height: calc(100vh - 81px);
        width: auto;
        // background-color: black;
        background-color: black;
        color: white;
        font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
        letter-spacing: 1px;
        line-height: 1.5em;

        .contactLeft{
            width: 25%;
            // padding-top: 70px;
            padding-right: 5%;
            // padding-bottom: 70px;
            padding-left: 5%;
        }

        .contactRight{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 35%;
            // padding-top: 70px;
            padding-right: 2.5%;
            // padding-bottom: 70px;
            padding-left: 2.5%;
        }

        .icon3{
            display: flex;
            flex-direction: column;
            width: 20%;
            margin: 0% 5% 0% 0%;
            height: auto;

            .pwrImg{
                height: 150px!important;
                margin-bottom: 5%;
            }

            .w10Img{
                height: 150px!important;
                margin-bottom: 5%;
            }
        }

        h1{
            text-transform: uppercase;
            font-size: 60px!important;
            letter-spacing: 2px;
            line-height: 1.5em;
            text-align: center;
        }

        h3{
            // text-transform: uppercase;
            font-size: 45px!important;
            letter-spacing: 2px;
            line-height: 1.5em;
            text-align: center;
        }

        h4{
            font-size: 30px!important;
            line-height: 1.5em;
            text-align: center;
        }

        .icons{
            width: 80%;
            margin: 3% 10% 3% 10%;
            height: 80%;

            .icon{
                padding-bottom: 10%;
            }

            h1{
                margin-bottom: 0px;
                padding-bottom: 0%;
            }

            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: auto;
                

                .fa{
                    color: black;
                    border: 1px solid white;
                    background-color: white;
                    border-radius: 50%;
                    padding: 20px!important;
                    font-size: 2.5em!important;
                    height: auto;
                }

                .text{
                    color: white;
                    padding-left: 8%;

                    h1{
                        margin: 0% 0% 2% 0%;
                        font-size: 2.7em!important;
                        line-height: 55px!important;
                        text-align: left !important;
                    }

                    p{
                        margin: 0%;
                        font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
                        font-size: 1.7em!important;
                        line-height: 40px!important;
                    }
                }
                
            }
        }

    }

    .footer::before{
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../pictures/photon_on_track.jpg);
        mask-image: linear-gradient(to left, rgba(0, 0, 0, 1.0) 20%, transparent 100%);
        opacity: 0.15;
        z-index: -1;
        background-position: 50% 25%;
        transform: scaleX(-1);
        background-size: cover;
    }
    
}

@media screen and (min-width: $Tablet) {
    .copyright{
        position: absolute;
        bottom: 3%;
        // left: 50%;
        text-align: center;
        font-size: 0.9vw;
        width: 100%;
        height: auto;
        padding: 0%;
    }
    @media screen and (max-height: 600px){
        .footer{
            height: calc(100vh - 50px) !important;
        }
    
    }
    .footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        z-index: 1;
        height: calc(100vh - 81px);
        width: auto;
        // background-color: black;
        background-color: black;
        color: white;
        font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
        letter-spacing: 1px;
        line-height: 1.5em;

        .contactLeft{
            width: 25%;
            // padding-top: 70px;
            padding-right: 5%;
            // padding-bottom: 70px;
            padding-left: 5%;
        }

        .contactRight{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 35%;
            // padding-top: 70px;
            padding-right: 2.5%;
            // padding-bottom: 70px;
            padding-left: 2.5%;
        }

        .icon3{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25% !important;
            margin: 5% 0% 0% 0%;
            height: auto;

            .pwrImg{
                height: auto !important;
                width: 50% !important;
                margin-bottom: 5%;
            }

            .w10Img{
                height: auto!important;
                margin-bottom: 10%;
            }
        }

        h1{
            text-transform: uppercase;
            font-size: 35px;
            letter-spacing: 2px;
            line-height: 1.5em;
            text-align: center;
        }

        h3{
            // text-transform: uppercase;
            font-size: 25px;
            letter-spacing: 2px;
            line-height: 1.5em;
            text-align: center;
        }

        h4{
            font-size: 17px;
            line-height: 1.5em;
            text-align: center;
        }

        .icons{
            width: 80%;
            margin: 3% 10% 3% 10%;
            height: 80%;

            .icon{
                padding-bottom: 10%;
            }

            h1{
                margin-bottom: 0px;
                padding-bottom: 0%;
            }

            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: auto;
                

                .fa{
                    color: black;
                    border: 1px solid white;
                    background-color: white;
                    border-radius: 50%;
                    padding: 10px;
                    font-size: 1.7em;
                    height: auto;
                }

                .text{
                    color: white;
                    padding-left: 8%;

                    h1{
                        margin: 0% 0% 2% 0%;
                        font-size: 2em;
                        text-align: left !important;
                    }

                    p{
                        margin: 0%;
                        font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
                        font-size: 1.3em;
                    }
                }
                
            }
        }

    }

    .footer::before{
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../pictures/photon_on_track.jpg);
        mask-image: linear-gradient(to left, rgba(0, 0, 0, 1.0) 20%, transparent 100%);
        opacity: 0.15;
        z-index: -1;
        background-position: 50% 25%;
        transform: scaleX(-1);
        background-size: cover;
    }



}


@media screen and (max-width: $Tablet) {
    .footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        z-index: 1;
        // margin-top: 7vh;
        height: auto;
        width: 100%;
        // background-color: black;
        background-color: black;
        color: white;
        font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
        letter-spacing: 1px;
        // line-height: 1.5em;

        .copyright{
            position: absolute;
            bottom: 1%;
            // left: 50%;
            text-align: center;
            font-size: 1.5vw;
            width: 100%;
            height: auto;
            padding: 0%;
        }
        
        .contactLeft{
            width: 50%;
            padding-top: 30px;
            // padding-right: 5%;
            padding-bottom: 10px;
            // padding-left: 5%;
        }

        .contactRight{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 50%;
            // padding-top: 30px;
            // padding-right: 5%;
            padding-bottom: 10px;
            // padding-left: 5%;
            
        }

        .icon3{
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
            margin-bottom: 5%;

            .pwrImg{
                height: 20vw !important;
                width: auto !important;
                margin-bottom: 5%;
            }

            .w10Img{
                height: 20vw!important;
                width: auto !important;
                margin-bottom: 5%;
            }
        }

        h1{
            // text-transform: uppercase;
            font-size: 3.2vw;
            letter-spacing: 2px;
            line-height: 1.5em;
            text-align: center;
        }

        h3{
            // text-transform: uppercase;
            font-size: 2.4vw;
            letter-spacing: 2px;
            line-height: 1.3em;
            text-align: center;
        }

        h4{
            font-size: 1.6vw;
            line-height: 1.3em;
            text-align: center;
            padding-bottom: 10%;
        }

        p{
            text-align: center;
        }

        .icons{
            width: 90%;
            margin: 3% 5% 3% 5%;
            height: auto;

            .icon{
                padding-bottom: 10%;
            }

            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: auto;
                

                .fa{
                    color: black;
                    border: 1px solid white;
                    background-color: white;
                    border-radius: 50%;
                    padding: 17px;
                    font-size: 2.3vw;
                    height: auto;
                }

                .text{
                    color: white;
                    padding-left: 10%;

                    h1{
                        font-size: 2.5vw;
                        text-align: left !important;
                        margin: 0%;
                    }

                    p{
                        margin: 0%;
                        font-size: 1.7vw;
                        text-align: left !important;
                        font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
                    }
                }
                
            }
        }

    }

    .footer::before{
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url("../pictures/photon_on_track.jpg");
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 30%, transparent 100%);
        opacity: 0.20;
        z-index: -1;
        background-position: 50% 25%;
        transform: scaleX(-1);
        background-size: cover;
    }

}

@media  screen and (max-width: 900px) {
    .footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        z-index: 1;
        height: auto;
        width: 100%;
        // background-color: black;
        background-color: black;
        color: white;
        font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
        letter-spacing: 1px;
        line-height: 1.5em;

        .contactLeft{
            width: 80%;
            padding: 5% 10% 0% 10%;
            // padding-right: 10%;
            // // padding-bottom: 20px;
            // padding-left: 10%;
        }

        .copyright{
            position: absolute;
            bottom: 0%;
            // left: 50%;
            text-align: center;
            font-size: 1.8vw;
            width: 100%;
            height: auto;
            padding: 0%;
        }

        @media screen and (max-height: 600px) {
            h1{
                font-size: 3vw !important;
            }
            h3{
                font-size: 2vw !important;
            }
            h4{
                font-size: 1.6vw !important;
                padding-bottom: 4% !important;
            }
            p{
                font-size: 2vw !important;
            }
            .fa{
                font-size: 2vw !important;
            }

            .icon{
                padding-bottom: 2%!important;
            }
            img{
                height: 200px!important;
            }
        }
        .contactRight{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            padding: 0 0 15px 0 !important;
        }

        .icon3{
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
            margin-bottom: 5%;

            .pwrImg{
                height: 30vw !important;
                width: auto !important;
            }

            .w10Img{
                height: 30vw!important;
                width: auto !important;
            }
        }

        h1{
            // text-transform: uppercase;
            font-size: 5vw;
            letter-spacing: 2px;
            line-height: 1.5em;
            text-align: center;
        }

        h3{
            // text-transform: uppercase;
            font-size: 4vw;
            letter-spacing: 2px;
            line-height: 1.5em;
            text-align: center;
        }

        h4{
            font-size: 3vw;
            line-height: 1em;
            text-align: center;
        }

        .icons{
            display: inline-flex;
            // display: grid;
            // grid-template-columns: 80% 120%;
            // flex-direction: row;
            // flex-wrap: wrap;
            width: 100%;
            margin: 2% 0% 0% 0%;
            height: auto;

            .icon1{
                width: 50%;
                padding:3%;
            }

            .icon2{
                width: 50%;
                padding: 3%;
            }

            div{
                text-align: center;
                width: 100%;
                height: auto;
                display: inline-block;

                span{
                    display: block;
                }

                .fa{
                    color: black;
                    border: 1px solid white;
                    background-color: white;
                    border-radius: 50%;
                    padding: 12px;
                    font-size: 4vw;
                    height: auto;
                }

                .text{
                    padding-top: 5% !important;
                    color: white;
                    padding: 0%;

                    h1{
                        text-align: center !important;
                        font-size: 3vw;
                    }

                    p{
                        text-align: center !important;
                        font-size: 2.5vw;
                        font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
                    }
                }
                
            }
        }

    }

    .footer::before{
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../pictures/photon_on_track.jpg);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
        opacity: 0.15;
        z-index: -1;
        background-position: 50% 25%;
        transform: scaleX(-1);
        background-size: cover;
    }
}

