@import '../variables.scss';

.firstPage{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    z-index: 300;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    animation: firstPage 1s ease-in-out;
    animation-fill-mode: forwards;  
    animation-delay: 2s;

    img{
        width: auto;
        height: 20vw;
    }

    .loadingMoto{
        height: auto;
        width: 80%;
        margin: 10% 10% 0% 10%;
        position: relative; 
        // justify-content: center;

        img{
            position: absolute;
            // filter: invert(100%);
            height: 12vw;
            font-size: 100px;
            animation: ride 1.5s linear infinite;
            animation-delay: 0.5s;
            left: 0%;
            bottom: 0%;
            margin-bottom: -2.6vw;
            margin-left: 0px;
        }
    }

    .loadingMoto::before{
        position: absolute;
        content: '';
        height: 2px;
        bottom: -1px; 
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        border-bottom: 5px white dashed;
    }
}

@keyframes firstPage {
    0%   { opacity: 1; z-index: 300 }
    90%  {opacity: 0;}
    100% { opacity: 0; z-index: -100;}

}

@keyframes ride {
    from{
        left: 0%;
    }
    to{
        left: 90%;
    }
}

.mainSite{
    // padding-top: 5vh;
    width: 100%;
    height:auto;
    background-image: url(../pictures/tłov7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.slidesAnimation{
    animation-name: imageFromLeft;
    animation-duration: 2s;
    animation-timing-function: ease;
}

#picture1{
    visibility: visible;
}

#picture2{
    visibility: hidden;
}

@keyframes imageFromLeft {
    from{
        left: -30px;
        opacity: 0;
    }
    to{
        left:0px;
        opacity: 1;
    } 
}


.description{
    
    hyphens: auto;
    position: relative;
    // font-family:'Shippori Antique', sans-serif;
    z-index: 1;
    top:0;
    left: 0;
    color: white;
    text-align: left;

    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2vw;
    }

    .paragraph1{
        animation-name: descriptionFromRight;
        animation-duration: 2s;
        animation-timing-function: ease;
    }

    #para1{
        position: absolute;
        top: 0;
        visibility: visible;
        margin: 0;
        width: 100%;
    }

    .paragraph2{
        animation-name: descriptionFromRight;
        animation-duration: 2s;
        animation-timing-function: ease;
    }

    #para2{
        position: absolute;
        top: 0;
        visibility: hidden;
        margin: 0%;
        width: 100%;

    }

    @keyframes descriptionFromRight {
        from{
            left: 30px;
            opacity: 0;
        }
        to{
            left:0px;
            opacity: 1;
        }
    }

    h1{
        font-family: 'Anton', sans-serif;
        margin-top: -2vh;
        margin-bottom: -1vh;
        color: white;
        overflow: hidden;
        background: linear-gradient(to right, #4a1b6b, red 50%, white 50%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 0.5s ease;
        font-family: 'Racing Sans One', cursive;
        font-size: 3.2vw;
        letter-spacing: 0.05em;
        line-height: 1.2em;
        font-weight: 700;
    }

    h1:hover{
        background-position: 0 100%;
    }

    h4{
        font-family: 'Racing Sans One', cursive;
        font-weight: 1000;
        font-size: 1.2vw;
        letter-spacing: 5px;
        color: rgb(255, 66, 66);
    }
}

.projectImagesButt {
    background-color: transparent;
    z-index: 50;
    // width: 30vw;

    #imageSSV{
        background: white;
        color: white;

        i{
            position: fixed;
            // top: 50%;
            // right:2%;   
        }
    }

    #imagePhoton{
        background: white;
        color: white;

        i{            
            position: fixed;
            // top: 50%;
            // left:2%;   
        }
    }

}

.slides{
    position: relative;
    z-index: 1;
    top:0%;
    left: 0;

    // img{
    //     position: absolute;
    //     top: 50%;
    //     transform:translate(0%,-50%);
    //     width: 100%;
    //     height: auto;
    // }
}

@media screen and (min-width: $laptop){
     #imageSSV{
        color: white;
        
        i{
            font-size: 60px;
            position: fixed;
            top: 50%;
            right:2%;   
        }
    }

    #imagePhoton{
        color: white;

        i{          
            font-size: 60px;  
            position: fixed;
            top: 50%;
            left:2%;   
        }
    }

    .projects{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 83vh;
    }
    
    .slides{
        position: relative;
        z-index: 1;
        top:0%;
        left: 0;
        height: 700px;
        width: 70%;

        img{
            position: absolute;
            top: 50%;
            transform:translate(0%,-50%);
            width: 100%;
            height: auto;
        }
        
    }   
    
    .description{
        width: 30%;
        margin-right: 6%;
        height: 300px;
    }
    
}  


@media screen and (max-width: $Tablet) {
    .firstPage{
        height: 100vh;
        padding: 0vh 0 30vh 0;

        #beginPictureStart{
            width: 90%;
            height: auto;
        }
    }

    .mainSite{
        // margin-top: 9vh;
    }

    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        height: auto;
    }

    @media screen and (max-aspect-ratio: 8/10){
        .slides{
            height: 450px;
            width: 100%;
            margin-bottom: 0%;
            // margin-top: -4vh;

            img{
                position: absolute;
                top: 50%;
                transform:translate(0%,-50%);
                width: 100%;
                height: auto;
            }

        }  
        
        #imageSSV{
            background: white;
            color: white;
            
            i{
                font-size: 50px;
                position: fixed;
                top: 30%;
                right:2%;   
            }
        }
    
        #imagePhoton{
            background: white;
            color: white;
    
            i{            
                font-size: 50px;
                position: fixed;
                top: 30%;
                left:2%;   
            }
        }
    }

    @media screen and (min-aspect-ratio:8/10) {
        .slides{
            margin-bottom: 1vw;
            height: 60vh;
            width: 100%;
            display: flex;            

            img{
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 50%;
                transform:translate(0%,-50%);
                width: auto;
                height: 50vw;
            }
        }    

        #imageSSV{
            background: white;
            color: white;
            
            i{
                font-size: 50px;
                position: fixed;
                top: 50%;
                right:2%;   
            }
        }
    
        #imagePhoton{
            background: white;
            color: white;
    
            i{     
                font-size: 50px;       
                position: fixed;
                top: 50%;
                left:2%;   
            }
        }
    }

    @media screen and (max-height: 600px) {
        .slides{
            // margin-bottom: 1vw;
            height: 60vh;
            width: 100%;

            img{
                height: 40vw;
            }
        }
        .description{
            // margin-top: 50px;
        }
    }

    .description{
        width: 70%;
        height: auto;
        // text-align: justify;
        text-justify: distribute;
        hyphens: auto;


        #para1{
        
            h1{
                // margin: 0;
                font-size: 4vw;
            }

            h4{
                font-size: 2vw;
            }

            .shortText{
                text-align: justify;
                font-size: 2vw;
            }
        }

        #para2{
            h1{
                // margin: 0;
                font-size: 4vw;
            }

            h4{
                font-size: 2vw;
            }

            .shortText{
                text-align: justify;
                font-size: 2vw;
            }
        }
    }

}

@media  screen and (max-width: $mobile) {

    .firstPage{
        // display: none;

        #beginPictureStart{
            width: 80%;
            height: auto;
        }
    }

    .mainSite{
        // margin-top: 11vh;
    }

    #imageSSV{
        background: white;
        color: white;
        
        i{
            font-size: 30px;

            position: fixed;
            top: 25%;
            right:2%;   
        }
    }

    #imagePhoton{
        background: white;
        color: white;

        i{       
            font-size: 30px;
     
            position: fixed;
            top: 25%;
            left:2%;   
        }
    }

    .slides{
        // padding-top: ;
        height: 250px;
        width: 100%;

        img{
            position: absolute;
            top: 50%;
            transform:translate(0%,-50%);
            width: 100%;
            height: auto;
        }
    } 

    .description{
        hyphens: auto;
        margin-top: 0%;
        height:auto;

        #para1{
        
            h1{
                // margin: 0;
                font-size: 30px;
            }

            h4{
                font-size: 15px;
            }

            .shortText{
                font-size: 13px;
            }
        }

        #para2{
            h1{
                // margin: 0;
                font-size: 30px;
            }

            h4{
                font-size: 15px;
            }

            .shortText{
                font-size: 13px;
            }
        }

    }


}
