@import '../variables.scss';


.mainSite{
    padding-top: 5vh;
    width: 100%;
    height:auto;
    background-image: url(../pictures/tłov7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.slidesAnimation1{
    animation-name: imageFromLeft;
    animation-duration: 2s;
    animation-timing-function: ease;
}

.slidesAnimation2{
    animation-name: imageFromLeft;
    animation-duration: 2s;
    animation-timing-function: ease;
}

#picture{
    visibility: visible;
}

#picture2{
    visibility: hidden;
}

@keyframes imageFromLeft {
    from{
        left: -30px;
        opacity: 0;
    }
    to{
        left:0px;
        opacity: 1;
    } 
}


.description{
    
    position: relative;
    // font-family:'Shippori Antique', sans-serif;
    z-index: 1;
    // height: auto;
    top:-4vh;
    left: 0;
    color: white;
    text-align: left;

    p{
        font-family: 'Quicksand', sans-serif;
        font-size: 1.2vw;
    }

    .paragraph1{
        animation-name: descriptionFromRight;
        animation-duration: 2s;
        animation-timing-function: ease;
    }

    #para1{
        position: absolute;
        top: 0;
        visibility: visible;
        margin: 0;
    }

    .paragraph2{
        animation-name: descriptionFromRight;
        animation-duration: 2s;
        animation-timing-function: ease;
    }

    #para2{
        position: absolute;
        top: 0;
        visibility: hidden;
        margin: 0%;
    }

    @keyframes descriptionFromRight {
        from{
            left: 30px;
            opacity: 0;
        }
        to{
            left:0px;
            opacity: 1;
        }
    }

    h1{
        font-family: 'Racing Sans One', cursive;
        margin-top: -2vh;
        margin-bottom: -1vh;
        color: white;
        overflow: hidden;
        background: linear-gradient(to right, #4a1b6b, red 50%, white 50%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 0.5s ease;
        font-size: 3.5vw;
        font-weight: 900;
    }

    h1:hover{
        background-position: 0 100%;
    }

    h4{
        font-family: 'Racing Sans One', cursive;
        font-weight: 1000;
        font-size: 1.2vw;
        letter-spacing: 5px;
        color: rgb(255, 66, 66);
    }
}

.projectImagesButt {
    background-color: transparent;
    z-index: 50;

    #imageSSV{
        background: white;
        color: white;

        i{
            position: fixed;
            // top: 50%;
            // right:2%;   
        }
    }

    #imagePhoton{
        background: white;
        color: white;

        i{            
            position: fixed;
            // top: 50%;
            // left:2%;   
        }
    }

}

.slides{
    position: relative;
    z-index: 1;
    top:0%;
    left: 0;

    img{
        position: absolute;
        top: 50%;
        transform:translate(0%,-50%);
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: $laptop){
     #imageSSV{
        color: white;
        
        i{
            font-size: 60px;
            position: fixed;
            top: 50%;
            right:2%;   
        }
    }

    #imagePhoton{
        color: white;

        i{          
            font-size: 60px;  
            position: fixed;
            top: 50%;
            left:2%;   
        }
    }

    .projects{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 83vh;
    }
    
    .slides{
        position: relative;
        z-index: 1;
        top:0%;
        left: 0;
        height: 700px;
        width: 70%;

        img{
            position: absolute;
            top: 50%;
            transform:translate(0%,-50%);
            width: 100%;
            height: auto;
        }
        
    }   
    
    .description{
        width: 30%;
        margin-right: 6%;
        height: 300px;
    }
    
}  


@media screen and (max-width: $Tablet) {
    .mainSite{
        margin-top: 9vh;
    }

    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        height: auto;
    }

    @media screen and (max-aspect-ratio: 8/10){
        .slides{
            height: 300px;
            width: 100%;
            margin-bottom: 20%;
            // margin-top: -4vh;

            img{
                position: absolute;
                top: 50%;
                transform:translate(0%,-50%);
                width: 100%;
                height: auto;
            }

        }  
        
        #imageSSV{
            background: white;
            color: white;
            
            i{
                font-size: 50px;
                position: fixed;
                top: 30%;
                right:2%;   
            }
        }
    
        #imagePhoton{
            background: white;
            color: white;
    
            i{            
                font-size: 50px;
                position: fixed;
                top: 30%;
                left:2%;   
            }
        }
    }

    @media screen and (min-aspect-ratio:8/10) {
        .slides{
            margin-bottom: 10%;
            height: 67vh;
            width: 100%;
        }    

        #imageSSV{
            background: white;
            color: white;
            
            i{
                position: fixed;
                top: 50%;
                right:2%;   
            }
        }
    
        #imagePhoton{
            background: white;
            color: white;
    
            i{            
                position: fixed;
                top: 50%;
                left:2%;   
            }
        }
    }

    .description{
        margin-top: 0px;
        width: 60%;
        height: auto;

        #para1{
        
            h1{
                // margin: 0;
                font-size: 50px;
            }

            h4{
                font-size: 27px;
            }

            .shortText{
                font-size: 20px;
            }
        }

        #para2{
            h1{
                // margin: 0;
                font-size: 45px;
            }

            h4{
                font-size: 24px;
            }

            .shortText{
                font-size: 20px;
            }
        }
    }

}

@media  screen and (max-width: $mobile) {
    .mainSite{
        margin-top: 11vh;
    }

    #imageSSV{
        background: white;
        color: white;
        
        i{
            font-size: 30px;

            position: fixed;
            top: 25%;
            right:2%;   
        }
    }

    #imagePhoton{
        background: white;
        color: white;

        i{       
            font-size: 30px;
     
            position: fixed;
            top: 25%;
            left:2%;   
        }
    }

    .slides{
        height: 20vh;
        width: 100%;

        img{
            position: absolute;
            top: 40%;
            transform:translate(0%,-50%);
            width: 100%;
            height: auto;
        }
    } 

    .description{
        margin-top: 0%;
        height:auto;

        #para1{
        
            h1{
                // margin: 0;
                font-size: 37px;
            }

            h4{
                font-size: 17px;
            }

            .shortText{
                font-size: 17px;
            }
        }

        #para2{
            h1{
                // margin: 0;
                font-size: 30px;
            }

            h4{
                font-size: 17px;
            }

            .shortText{
                font-size: 17px;
            }
        }

    }


}
