@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


@media screen and (max-width: $Tablet) {
    
}

@media screen and (min-width: $laptop) {

    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        z-index: 1;
        height: auto;
        width: 100%;
        // background-color: black;
        background-color: black;
        color: white;
        font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
        letter-spacing: 1px;
        line-height: 1.5em;

        // display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     position: relative;
        //     z-index: 1;
        //     height: 90vh;
        //     width: 100%;
        //     background-color: black;
        //     color: white;

        .contactLeft{
            width: 30%;
            padding-top: 100px;
            padding-right: 10%;
            padding-bottom: 100px;
            padding-left: 10%;
        }

        .contactRight{
            width: 40%;
            padding-top: 100px;
            padding-right: 5%;
            padding-bottom: 100px;
            padding-left: 5%;
        }

        h1{
            text-transform: uppercase;
            font-size: 40px;
            letter-spacing: 2px;
            line-height: 1.5em;
            text-align: left;
        }

        h3{
            text-transform: uppercase;
            font-size: 30px;
            letter-spacing: 2px;
            line-height: 1.5em;
            text-align: left;
        }

        h4{
            font-size: 20px;
            line-height: 1.5em;
            text-align: left;
        }

        .icons{
            width: 80%;
            margin: 5% 10% 5% 10%;
            height: auto;

            div{
                display: flex;
                align-items: center;
                width: 100%;

                .fa{
                    color: black;
                    border: 1px solid white;
                    background-color: white;
                    border-radius: 50%;
                    padding: 14px;
                    font-size: 2em;
                    height: auto;
                }

                .text{
                    color: white;
                    padding-left: 10%;

                    h1{
                        font-size: 2.5em;
                    }

                    p{
                        font-size: 1.5em;
                    }
                }
                
            }
        }

    }

    footer::before{
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../src/pictures/photon_on_track.jpg);
        opacity: 0.1;
        z-index: -1;
        background-position: 50% 30%;
        transform: scaleX(-1);
        background-size: cover;
    }



}