@import 'variables.scss';


.mainSite{
    width: 100%;
    height:87vh;
    // background: rgb(17,33,52);
    // background: linear-gradient(90deg, rgba(17,33,52,1) 0%, rgba(33,52,78,1) 17%, rgba(56,82,111,1) 35%, rgba(101,127,159,1) 57%, rgba(153,179,213,1) 76%, rgba(179,207,244,1) 96%);
    background: rgb(26,45,68);
    background: linear-gradient(90deg, rgba(26,45,68,1) 10%, rgba(42,59,80,1) 24%, rgba(61,80,101,1) 38%, rgba(84,105,129,1) 53%, rgba(111,136,162,1) 70%, rgba(172,189,209,1) 92%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: $laptop){
    .projects{
        display: flex;
        align-items: center;
        // vertical-align: middle;
        width:100%;
        height: 100%;
    }


    .slidesContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 68%;
        // padding-bottom: 4%;
        // height:100%;
    }

    .slides{
        // padding-left:2%;
        padding-bottom: 4%;

        img{
            max-width:100%;
            max-height: 100%;
        }

    }    

    .description{
        // margin: 25% auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 30%;
    }
}

@media screen and (max-width: $mobileTablet) {
    .projects{
        display: flex;
        align-items: center;
        width:100%;
        height: auto;
    }


    .slidesContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 100%;
        // padding-top: 4%;
        // padding-bottom: 4%;
        // height:60%;
    }

    @media screen and (min-height: 570px){

    .projects{
        flex-direction: column;
    }
        .slides{
            height:500px;
            width: auto;
            // margin-top: 13vh;
            // margin-bottom: 10vh;

            img{
                max-width:100%;
                max-height: 100%;
            }

        }    
    }

    @media screen and (max-height:570px) {
        .projects{
            flex-direction: row;
        }
        .slides{
            // margin-top: 13vh;
            margin-bottom: 10vh;

            img{
                width:auto;
                height: 400px;
            }

        }    
    }

    .description{
        // padding-top: 5%;
        // margin: 25% auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 30%;
    }

}
