@import 'variables.scss';

.App {
  // text-align: center;
}

.hamburgerMenu{
  display: none;
}

.navbar{
  display: grid;
  grid-template-columns: 7% 30% 50% 15%;
  grid-template-rows: 10vh 0 0 0 ;
  background-color: black;
  overflow: hidden;
  // margin: 0;
  align-items: center;

  ul{
    display: none;
  }
}

@media screen and (max-width: $mobile) {
  .navbar {
  
    img{
      grid-column: 2;
      grid-row: 1;
      width: 100%;
    }

    .hamburgerMenu{
      display: block;
      grid-column: 4;
      grid-row: 1;
      width: 30px;
      background-color: transparent;
      cursor: pointer;
      

      div{
        background-color: white;
        height: 2px;
        margin: 6px 0 6px 0;
        transition: all 0.32s ease-in-out;
      }
    }
    
    ul{
      grid-row: 2/5;
      grid-column: 1/5;
      display: block;
      background-color: black;
      width: 100%;
      padding: 0;

      li{
        margin: 15px 0 15px 0;
        text-align: center;
        color:white;
        list-style-type: none;
      }
    }

  }

  

}

@media screen and (max-width: $tablet) {
  .navbar img{
    // height: 100px;
  }
}

@media screen and (max-width: $laptop) {
  .navbar img{
    // height: 100px;
  }
}

@media screen and (max-width: $desktop) {
  .navbar img{
    // height: 300px;
  }
}


