@import 'variables.scss';

.navbar{
  display: grid;
  height:fit-content;
  background-color: black;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;

  li{
    position: relative;
    padding: 7px 0;
    font-size: larger;
    font-weight: 400;
    
  }

  li::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
  }

  li:hover::after {
    width: 100%; 
    left: 0; 
  }

  li.icons::after{
    content: none;
  }

  .fa, .fab{
    text-decoration: none;
    color: white;
  }

  .fa-youtube-play:hover{
    color:red;
  }

  .fa-instagram:hover{
    color: violet;
  }

  .fa-facebook:hover{
    color:rgb(91, 91, 211);
  }

  .fa-tiktok:hover{
    color: rgb(74, 222, 233);
  }
}

@media screen and (max-width: $mobileTablet) {
  .navbar {
    grid-template-columns: 10% 25% 45% 20% ;
    grid-template-rows: 12vh;

    img{
      grid-column: 2;
      grid-row: 1;
      width: 150px;
      // padding: 30px;
    }

    .hamburgerMenu{
      display: block;
      grid-column: 4;
      grid-row: 1;
      width: 30px;
      margin: auto;
      // padding-right: 100px;
      background-color: transparent;
      cursor: pointer;
      

      div{
        background-color: white;
        height: 2px;
        margin: 6px 0 6px 0;
        transition: all 0.32s ease-in-out;
      }
    }
    
    .optionList{
      width:100%;
      margin: 0;
      position: fixed;
      top:11vh;
      overflow-x: hidden;
      left:0;
      transition: 0.5s;
      background-color: black;

      ul{
        padding: 0;
        display: block;
        background-color: black;
        margin: 0;

        li{
          display: block;
          width:fit-content;
          margin: 15px auto;
          text-align: center;
          color:white;
          list-style-type: none;
        }

        .icons{
          font-size: 25px;
          padding:0;
          display: inline-block;
          margin-left:25px;
          margin-right: 25px;
          margin-bottom: 40px;
        }
      }
    }
  }

  

}

@media screen and (min-width: $laptop) {
  .hamburgerMenu{
    display: none;
  }

  .navbar{
    grid-template-columns: 5% 15% 15% 65%;
    grid-template-rows: 13vh;

    img{
      width:180px;
      grid-column: 2;
      grid-row: 1;
      // background-size:contain;
    }
    
    .optionList{
      height: auto;
      display: block;
      grid-column: 4;
      grid-row:1;

      ul{
        // grid-row: 1;
        // grid-column: 4/9;
        background-color: black;
        width: 100%;
        padding: 0;
        margin: auto;

        li{
          display: inline-block;
          margin: 15px 20px 15px 20px;
          text-align: center;
          color:white;
          list-style-type: none;
        }
      }
    }
  
  
  
  
  
  
  }
}

@media screen and (max-width: $desktop) {
  .navbar img{
    // height: 300px;
  }
}


