@import 'variables.scss';

@media screen and (max-height: 500px){
  .navbar{
    height: 50px !important;
    grid-template-rows: 50px !important;

    img{
      height: 40px !important;
      width: 110px !important;
    }
  }

  .divNavbar{
    height: 50px !important;
  }

  .optionList{
    top:50px !important;
  }
}
.navbar{
  font-family: 'Shippori Antique', sans-serif;
  position: fixed;
  top: 0%;
  width: 100%;
  display: grid;  
  height:81px;
  background-color: black;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 99;

  li{
    font-size: medium;
    font-weight: 400;
  }

  .active:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    background: white;
    width: 100%;
    }

  .optionList{

    li{
      position: relative;
      padding: 7px 0;

      a{
        text-decoration: none;
        color: white;
      }

    }

    li::after{
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: white;
      transition: width 0.5s ease 0s, left 0.5s ease 0s;
      width: 0;
    }

    li:hover::after {
      width: 100%; 
      left: 0; 
    }

    .iconsMobile::after{
      content: none;
    }
  }

  .fa, .fab{
    text-decoration: none;
    color: white;
  }

  .fa-youtube-play:hover{
    color:red;
  }

  .fa-instagram:hover{
    color: violet;
  }

  .fa-facebook:hover{
    color:rgb(104, 180, 224);
  }

  .fa-tiktok:hover{
    color: rgb(74, 222, 233);
  }

  .fa-linkedin:hover{
    color: rgb(0, 17, 255);
  }
}

@keyframes hoverin {
  from{
    border-bottom: none;
  }
  to{
    border-bottom: 1px solid white;
  }
}

@keyframes hoverout {
  from{
    border-bottom: 1px solid white;
  }
  to{
    border-bottom: 0px;
  }
}

.divNavbar{
  height: 81px;
}

@media screen and (max-width: $Tablet) {
  .navbar {
    grid-template-columns: 5% 20% 60% 10% 5%;
    grid-template-rows: 81px;
    background-color: black;

    img{
      width:150px;
      grid-column: 2;
      grid-row: 1;
      padding: 6px 0px 2px 0px;
    }

    .hamburgerMenu{
      display: block;
      grid-column: 4;
      grid-row: 1;
      width: 30px;
      margin: auto;
      background-color: transparent;
      cursor: pointer;
      

      div{
        background-color: white;
        height: 2px;
        margin: 6px 0 6px 0;
        transition: all 0.32s ease-in-out;
      }
    }
    
    .optionList{
      scroll-behavior: smooth;
      width:100%;
      margin: 0;
      position: fixed;
      top: 80px;
      overflow-x: hidden;
      overflow-y: auto; 
      left:0;
      transition: 0.5s;
      background-color: black;
      max-height: 80vh;

      ul{
        padding: 0;
        display: block;
        background-color: black;
        margin: 0;

        li{
          font-size: 20px;
          display: block;
          width:fit-content;
          margin: 20px auto;
          text-align: center;
          color:white;
          list-style-type: none;
        }

        a{
          font-size: 25px;
          padding:0;
          display: inline-block;
          margin-left:25px;
          margin-right: 25px;
          margin-bottom:10px;
        }
      }
    }
    
    .icons{
      display: none;
    }
  
  }

  

}

@media screen and (min-width: $laptop) {
  .hamburgerMenu{
    display: none;
  }

  .navbar{
    grid-template-columns: 5% 15% 3% 50% 3% 24% 2.5%;
    grid-template-rows: 81px;

    img{
      width:150px;
      grid-column: 2;
      grid-row: 1;
      padding: 4px 0px 0px 0px;
    }
    
    .optionList{
      height: auto;
      display: block;
      grid-column: 4;
      grid-row:1;

      ul{
        background-color: black;
        width: 100%;
        padding: 0;
        margin: auto;

        li{
          display: inline-block;
          margin: 15px 20px 15px 20px;
          text-align: center;
          color:white;
          list-style-type: none;
        }
      }
      
      .iconsMobile{
        display: none;
      }
    }
  
  .icons{
    height: auto;
    display: block;
    grid-column: 6;
    grid-row: 1;
    background-color: black;
    width: 100%;
    padding: 0;
    margin: auto;

      li{
        display: inline-block;
        margin: 15px 20px 15px 20px;
        text-align: center;
        color:white;
        list-style-type: none;
      }
    
  }
  
  
  
  
  
  }
}

// @media screen and (max-width: $mobile) {
//   .navbar img{
//     // height: 300px;
//   }
// }


