@import '../variables.scss';

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    hyphens: auto;
}

// h1{
//     font-family: 'Anton', sans-serif !important;
//     font-weight: 100;
//     letter-spacing: 0.04em;
// }

// h4{
//     font-family: 'Montserrat', sans-serif !important;
//     font-weight: 900;
// }

@media screen and (min-width: $laptop){
    .pageContainer{
        min-height: auto;
        font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;

    }

    .parents{
        position: absolute;
        width: 100%;
        margin-top:8vh;
        height: 92vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        .text{
            position: relative;
            background: rgba(0,0,0,0.6);
            font-size: 1.5vw;
            width: 94%;
            height: 85%;
            color: white;
            margin: 0%;
            padding: 0%;
            // transition: 0.3s linear visibility;

            
            p{
                position: absolute;
                text-align: justify;
                top: 0;
                left: 0;
                padding: 10% 10%;
            }
            
            .projectTitle{
                font-family: 'Racing Sans One', cursive;
                position: relative;
                top: 0%;
                left: 0%;
                text-align: center;
                color: white;
                z-index: 2;
                margin-bottom: 0%;
            }

            .projectTitleDesc{
                margin-bottom: 0%;
                margin-top: 1%;
                font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
            }

            h4{
                text-align: center;
            }

            .iconsContainer{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 90%;
                margin: 2% 5%;
                height: 13vh;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .iconsProjects{
                    width:calc(100%/4);
                    text-align: center;
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    z-index: 1;

                    h1{
                        height: 50%;
                        margin: 0%;
                    }

                    h4{
                        margin: 0%;
                        height: 50%;
                    }
                }
            }
        }
    }     
    
    .parents1{
        top: 0%;
        left: 0%;
        visibility: visible;
        background-image: url(../pictures/Photon_premiera.jpg);
        background-size: cover;
        background-position: 0% 50%;
    }

    .parents2{
        visibility: hidden;
        left: 100%;
        top: 0%;
        background-image: url(../pictures/Thunder.jpg);
        background-size: cover;
        background-position: 0% 50%;
    }  

    .parents3{
        visibility: hidden;
        left: 200%;
        top: 0%;
        background-image: url(../pictures/SSV_podłoga.jpg);

        background-size: cover;
        background-position: 0% 50%;
    }     

    .fa-angle-double-right{
        position: absolute;
        top:50%;
        right: 5%;
        color: white;
        transform: translateY(-50%);

    }
    
    .fa-angle-double-right:hover{
        cursor: pointer;
    }

    .fa-angle-double-left{
        position: absolute;
        top:50%;
        left: 5%;
        color: white;
        transform: translateY(-50%);
    }

    .fa-angle-double-left:hover{
        cursor: pointer;
    }
}
@media screen and (max-width: $Tablet){
    .pageContainer{
        min-height: auto;
        font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
    }

    .parents{
        width: 100%;
        // margin-top:8vh;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        .text{
            text-align: center;
            // position: relative;
            background: rgba(0,0,0,0.6);
            font-size: 1.5vw;
            width: 80%;
            height: auto;
            color: white;
            margin: 5% 0%;
            padding: 0%;

            p{
                height: auto;
                text-align: justify;
                margin: auto 10%;
                width: 80%;
                font-size: 2.7vw;
            }
            
            .projectTitle{
                // position: relative;
                // top: 0%;
                // left: 0%;
                margin: 5% 0% 3% 0%;
                height: 10%;
                font-size: 6vw;
                text-align: center;
                color: white;
                z-index: 2;
                font-family: 'Racing Sans One', cursive;
            }

            .projectTitleDesc{
                font-size: 3.5vw;
                margin: 0% 0% 3% 0%;
                font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
            }

            .iconsContainer{
                // position: absolute;
                // bottom: 0;
                // left: 0;
                width: 90%;
                margin: 10% 5%;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                .iconsProjects{
                    width: 25%;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 50%;
                    padding: 0;
                    margin: 0;
                    z-index: 1;

                    h1{
                        height: auto;
                        margin: 0%;
                        font-size: 4vw;

                    }

                    h4{
                        margin: 0%;
                        height: auto;
                        font-size: 2.5vw;
                    }
                }
            }
        }
    } 
    
    .parents1{
        top: 0%;
        left: 0%;
        visibility: visible;
        background-image: url(../pictures/Photon_premiera.jpg);
        background-size: cover;
        background-position: 0% 50%;
    }

    .parents2{
        left: 0%;
        top: 100%;
        visibility: visible;
        background-image: url(../pictures/Thunder.jpg);
        background-size: cover;
        background-position: 0% 50%;
    }  

    .parents3{
        left: 0;
        top: 200%;
        visibility: visible;
        background-image: url(../pictures/SSV_podłoga.jpg);
        background-size: cover;
        background-position: 0% 50%;
    }   
    
    .switchButton{
        display: none;
    }
}

@media screen and (max-width: $mobile){

    .pageContainer{
        min-height: auto;
    }

    .parents{
        width: 100%;
        margin: 0%;
        height: auto;

        .text{
            text-align: center;
            background: rgba(0,0,0,0.6);
            font-size: 19px;
            width: 90%;
            height: auto;
            color: white;
            margin: 10% 0%;
            padding: 0%;

            p{
                height: auto;
                text-align:justify;
                // padding: 0% 5%;
                font-size: 3vw;
            }
            
            .projectTitle{
                height: auto;
                padding: auto;
                text-align: center;
                color: white;
                z-index: 2;
                padding-bottom: 3%;
                font-size: 7vw ;
            }

            .projectTitleDesc{
                font-size: 4vw;
                margin: 0% 0% 3% 0%;
            }

            .iconsContainer{
                width: 90%;
                margin: 5% 5%;
                height: 30%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .iconsProjects{
                    width: 40%;
                    text-align: center;
                    height: auto;
                    margin: 0;
                    z-index: 1;

                    h1{
                        font-size: 5vw;
                        height: auto;
                        margin: 0%;
                    }

                    h4{
                        font-size: 4vw;
                        padding-bottom: 10px;
                        margin: 0%;
                        height: auto;
                    }
                }
            }
        }
    }     
    
    .parents1{
        // margin-top: 8vh;
        background-image: url(../pictures/Photon_premierav2.jpg);
        background-size: cover;
        background-position: 40% 0%;
    }

    .parents2{
        background-image: url(../pictures/Thunder.jpg);
        background-size: cover;
        background-position: 37% 50%;
    }  

    .parents3{
        background-image: url(../pictures/SSV_podłoga.jpg);
        background-size: cover;
        background-position: 30% 50%;
    }     

    .switchButton{
        display: none;
    }


}